<div class='customize-themes-header'>
  <div class="create-actions">
    {{d-button label="admin.intergral_record.new" icon="plus" action="showCreateModal" class="btn-primary"}}
  </div>
</div>

{{#if model}}
  {{#conditional-loading-spinner condition=refreshing}}
    <table class='table users-list grid'>
      <thead>
        <th>{{i18n 'admin.user.username'}}</th>
        <th>{{i18n 'admin.intergral_record.score'}}</th>
        <th>{{i18n 'admin.intergral_record.integral_type'}}</th>
        <th>{{i18n 'admin.intergral_record.created_at'}}</th>
        <th>{{i18n 'admin.intergral_record.note'}}</th>
        {{!-- {{admin-directory-toggle field='admin.user.integral' i18nKey='admin.user.integral' order=order ascending=ascending}} --}}
        <th>&nbsp;</th>
      </thead>
      <tbody>
        {{#each model as |record|}}
          <tr class="user">
            <td class="username">
              {{~unbound record.username}}
            </td>
            <td class='score'>
              {{~unbound record.score~}}
            </td>
            <td class='integral_type'>
              {{i18n (concat "admin.rule_type." record.integral_type)}}
            </td>
            <td class='created_at'>
              {{format-date record.created_at}}
            </td>
            <td class='created_at'>
              {{~unbound record.note}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/conditional-loading-spinner}}

  <br>
  {{#if isHasUsers}}
    <tr class='load-more-separator' {{action 'loadMore'}}>
      <td colspan="6">
        <span>
          {{i18n 'load_more'}}
        </span>
      </td>
    </tr>
  {{/if}}
  {{!-- {{conditional-loading-spinner condition=loading}} --}}
{{else}}
  <p>{{i18n 'search.no_results'}}</p>
{{/if}}

